.login-form {
  font-family: 'roboto', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  height: 680px;
  border-bottom: 2px solid #a7a7a7;
  height: auto;
  width: auto;
}

.login-form-box {
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 560px;
  padding: 1.2rem;
  background-color: #ffffff;
}

.margin-lr {
  margin-left: 10px;
  margin-right: 10px;
}

.p-h2 {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
  align-self: flex-start;
}

.session-input:focus {
  border: 1px solid #009E74;
  outline: 0;
}

.session-input {
  padding: 12px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 18px;
  box-sizing: border-box;
  border: 1px solid #DCDEDD;
  transition: all 0.3s;
}

.login-forgot-password {
  position: relative;
  padding: 10px 10px 10px 0px;
  top: 7px;
  right: 0px;
  font-size: 12px;
  cursor: pointer;
  line-height: 20px;
  vertical-align: baseline;
  color: #2752ff;
  font: inherit;
}

.login-forgot-password:hover {
  color: black
}

.session-submit {
  border: none;
  color: white;
  transition: all 0.25s;
  font-size: 14px;
  height: 42px;
  line-height: 2;
  padding: 6px;
  font-weight: 300;
  margin-bottom: 25px;
  border-radius: 0px;
  background-color: #009E74;
  cursor: pointer;
}

.session-submit:hover {
  background-color: #037362;
  transform: translateY(-1px);
}

.session-submit:focus {
  outline: 0;
}

.divider {
  text-align: center;
  position: relative;
}

.line {
  height: 1px;
  background-color: #F1EEEA;
}

.txt {
  display: inline-block;
  padding: 5px 10px;
  color: #3D3D66;
  top: -14px;
  background-color: white;
  position: relative;
  font-size: 14px;
}

.session-form-footer {
  width: 358px;
  padding: 20px;
  text-align: center;
  color: #282828;
  font-size: 14px;
  border-top: 1px solid #f0f0f0;
  /* margin-bottom: 60px; */
}

.session-form-footer:hover {
  color: black
}