.search-page {
  width: auto;
}

.search-count-sent {
  font-family: 'roboto', sans-serif;
  color: #282828;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 84px;
}

.green-bold {
  font-family: 'roboto', sans-serif;
  color: #009e74;
  font-size: 22px;
  font-weight: 500;
}

.search-index-w {
  width: auto;
  justify-content: center;

}

.search-idx-i {
  width: 392px;
  border: 1px solid #DCDEDD;
  height: 560px;
  margin: 20px;
}

.each-line {
  width: 350px;
  align-self: center;
}

.search-i-title {
  font-family: 'roboto', sans-serif;
  color: #282828;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-i-title:hover {
  text-decoration: underline;
}

.search-i-desc {
  font-family: 'roboto', sans-serif;
  color: #9b9e9e;
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.search-i-user {
  font-family: 'roboto', sans-serif;
  color: #282828;
  font-size: 13px;
  letter-spacing: 0.6px;
  font-weight: 300;
}

.progress-bar-bot {
  margin-top: auto;
  align-self: center;
}

.search-i-green {
  font-family: 'roboto', sans-serif;
  color: #037362;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-bottom: 3px;
}

.search-i-progress-bar {
  margin-bottom: 20px;
}

.search-i-bot-font {
  font-family: 'roboto', sans-serif;
  color: #656969;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-bottom: 3px;

}

.search-i-bot-cat {
  font-family: 'roboto', sans-serif;
  color: #656969;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-decoration: underline;
}

.search-i-bot-margin {
  font-family: 'roboto', sans-serif;
  color: #656969;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 20px;
  margin-bottom: 30px;
}