.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.width-auto {
  width: auto;
}

.row-wrap {
  flex-flow: row wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.flex-start {
  justify-content: flex-start;
}

.categories-NAV {
  border-bottom: 1px solid #DCDEDD;
  margin-top: 22px;
  padding-bottom: 22px;
}

.cat {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  color: #747474;
  padding-left: 19px;
  padding-right: 19px;
}

.padding-lr {
  padding-left: 60px;
  padding-right: 60px;
}

.featured-border {
  border-right: 1px solid #DCDEDD;
}

.padding-lr-17 {
  padding-left: 17px;
  padding-right: 17px;
}

.featured {
  margin-top: 55px;
  border-bottom: 1px solid #DCDEDD;
  padding-bottom: 60px;
}

.title-section {
  font-family: 'roboto', sans-serif;
  color: #656969;
  font-size: 13px;
  font-weight: 500;
}

.padding-bot-20 {
  padding-bottom: 20px;
}

.margin-right-260 {
  width: 620px;
}

.padding-bot-30 {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.bottom-border {
  border-bottom: 1px solid #DCDEDD;
}

.large-title {
  font-family: 'roboto', sans-serif;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 15px;
  color: #282828;
}

.medium-desc {
  font-family: 'roboto', sans-serif;
  color: #282828;
  font-weight: 100;
  font-size: 19px;
  margin-top: 15px;
}

.medium-name-1 {
  font-family: 'roboto', sans-serif;
  color: #282828;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.medium-name-2 {
  font-family: 'roboto', sans-serif;
  color: #037362;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
}

.small-name {
  color: #656969;
  font-size: 12px;
  margin-top: 5px;
}

.padding-l-25 {
  padding-left: 25px;
}

.view-more {
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.25px;
  font-size: 14px;
  font-weight: 300;
  color: #4c6cf8;
  padding-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-65 {
  margin-top: 85px;
}

.fresh-fav {
  margin-bottom: 20px;
}

.small-desc {
  font-family: 'Times New Roman', Times, serif;
  color: #282828;
  font-weight: 100;
  font-size: 15px;
  margin-top: 10px;
  line-height: 24px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.cat-bot {
  border-top: 2px solid #a2a2a2;
  padding-top: 28px;
  padding-bottom: 28px;
  border-bottom: 2px solid #DCDEDD;
  margin-bottom: 10px;
}

.med-desc-width {
  width: 630px;
}

.fresh-width {
  width: 319px;
}